* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

canvas {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.buttoncontainer {
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.gamebutton {
  margin: 10px;
  width: 50px;
  height: 50px;
  backdrop-filter: blur(10px);
  background-color: rgba(177, 127, 61, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
}

.gamebutton:hover {
  transform: scale(1.1);
}

.gamebutton:active {
  background-color: rgba(112, 112, 112, 0.5);
  box-shadow: none;
}

/* button images */
#pauseBtn {
  background-image: url("assets/buttons/settings.svg");
}

#inventoryBtn {
  background-image: url("assets/buttons/crafting.svg");
}

#helpBtn {
  background-image: url("assets/buttons/help.svg");
}

.pausemenu {
  position: fixed;
  display: block;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(20px);
  overflow: auto;
  transition: 1s;
}

.pausemenu button, .tutorial button {
  width: 80%;
  background-color:rgba(0, 0, 0, 0.5);
  border: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
}

.tutorial {
  position: fixed;
  display: block;
  left: 50%;
  bottom: 5%;
  width: 45vw;
  min-width: 10vw;
  max-width: 48vw;
  max-height: 40vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  color: white;
  text-align: center;
  backdrop-filter: blur(2px);
  overflow: auto;
  padding-left: 20;
  padding-right: 20;
  resize: horizontal;
}

.tutorial h3 {
  font-weight: 0;
}

.inventory, .crafting {
  position: fixed;
  display: block;
  margin: 5px;
  top: 70px;
  z-index: 5;
  padding: 20px;
  max-height: 60vh;
  overflow: auto;
  cursor: default;
}

.inventory {
  top: 120px;
}

.inventory:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.inventoryitem, .craftingitem {
  display: flex;
  /* border: solid 1px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.inventoryicon {
  width: 20px;
  height: 20px;
  background-size: contain;
  /* position: relative; */
  /* display: block; */
  /* top: 50%; */
  /* margin-top: auto; */
  /* border: solid 1px; */
}

.inventoryitem h4, .craftingitem h4 {
  /* border: solid 1px; */
  margin-top: auto;
  margin-left: 20px;
  color: black;
}

.crafting {
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.5s;
  z-index: 21;
}

.craftingitem {
  width: 100%;
  margin: 0;
  height: 50px;
  cursor: pointer;
}

.craftingitem h4 {
  color: white;
  margin-right: 20px;
}

.craftingitem button {
  width: 0;
  transform: scale(0%);
}

.craftingitem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.craftingitem:hover button {
  transform: scale(100%);
  width: min-content;
}

.craftingitem button {
  transition: 0.2s;
}

.craftingitem button:hover {
  transform: scale(1.1);
}

.craftingitem button:active {
  background-color: rgba(112, 112, 112, 0.5);
}