* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
}

canvas {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.buttoncontainer {
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

}

.gamebutton {
  margin: 10px;
  width: 50px;
  height: 50px;
  backdrop-filter: blur(10px);
  background-color: rgba(177, 127, 61, 0.2);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s;
  background-repeat: no-repeat;
  background-size: contain;
}

.gamebutton:hover {
  transform: scale(1.1);
}

.gamebutton:active {
  background-color: rgba(112, 112, 112, 0.5);
  box-shadow: none;
}

/* button images */
#pauseBtn {
  background-image: url("assets/buttons/settings.svg");
}

#inventoryBtn {
  background-image: url("assets/buttons/inventory.svg");
}

.pausemenu {
  position: fixed;
  display: block;
  left: 50%;
  top: -50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 80vh;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  color: white;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(20px);
  overflow: auto;
  transition: 1s;
}

.pausemenu button, .tutorial button {
  width: 80%;
  background-color:rgba(0, 0, 0, 0.5);
  border: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
}

#backToGameBtn {
  width: 100px;
  height: 200px;
  background-color: rgba(49, 64, 151, 0.5);
}

#backToGameBtn:hover {
  transform: scale(1.2) translate(-5%, 5%);
}

.buttoncontainer #backToGameBtn h1 {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  color: lightgray;
}

.tutorial {
  position: fixed;
  display: block;
  right: 5%;
  bottom: 5%;
  width: 45vw;
  max-height: 40vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
  color: white;
  text-align: center;
  backdrop-filter: blur(2px);
  overflow: auto;
  padding-left: 20;
  padding-right: 20;
}

.inventory {
  position: fixed;
  display: block;
  margin: 5px;
  top: 7%;
  z-index: 5;
  padding: 20px;
}

.inventoryitem {
  display: flex;
  /* border: solid 1px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 10px;
}

.inventoryicon {
  width: 20px;
  height: 20px;
  background-size: contain;
  border-radius: 20px;
  /* position: relative; */
  /* display: block; */
  /* top: 50%; */
  /* margin-top: auto; */
  /* border: solid 1px; */
}

.inventoryitem h4 {
  /* border: solid 1px; */
  margin-top: auto;
  margin-left: 20px;
  color: black;
}