* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: lightblue;
  text-align: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.titlecontainer {
    display: block;
    text-align: center;
}

.bigtitle {
    font-size: xxx-large;
}

button {
    display: block;
    width: 800px;
    max-width: 80vw;
    height: 200px;
    font-size: xxx-large;
    background-color: whitesmoke;
    border: solid 10px silver;
    margin-top: 20px;
    margin-bottom: 50px;
    cursor: pointer;
}

button:hover {
    background-color: silver;
}

.btncontainer {
    width: 100%;
}

.btnwrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.btn {
    font-weight: bolder;
    font-variant: small-caps;
}

.greendesign {
    position: fixed;
    display: block;
    z-index: -10;
    background-color: rgba(0, 128, 0, 0.5);
    width: 100%;
    height: 40%;
    top: 60%;
    left: 0%;
}

a {
    color: none;
    text-decoration: none;
}